* {
    margin: 0;
    padding: 0;
}

.puzzle {
    text-align: center;
}

.puzzle-row {
    width: 140px;
    height: 30px;
}

.puzzle-loc {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.puzzle-button {
    display: inline-block;
}

#puzzle-menu {
    text-align: center;
    width: 140px;
}

#direction-menu {
    text-align: center;
}

.direction-level {
    text-align: center;
    height: 25px;
    width: 140px;
}

#puzzle-status {
    text-align: center;
    width: 140px;
}
